/* cmd + e para abrir la paleta de color */

body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 950px;
    height: 1500px;
    background-color: white;
    margin: auto;
}

.header {
    width: 950px;
    height: 105px;
}

/* Colores */
.colors {
    width: 950px;
    height: 10px;
}

.colors > div {
    height: 100%;
    float: left;
}

.black1 {
    width: 320px;
}

.red1 {
    width: 430px;
}

.black2 {
    width: 170px;
}

.red2 {
    width: 30px;
}

.black1,
.black2 {
    background-color: black;
}

.red1,
.red2 {
    background-color: #d00808;
}


/* White-stripe and Logo */
.white-stripe {
    width: 950px;
    height: 200px;
    background-color: #fff;
}

.logo {
    margin: 20px;
}

.logo img {
    width: 229px;
    height: 65px;
}

/* Tiny-menu */
.tiny-menu {
    margin: auto;
}

.tiny-menu p {
    display: inline;
    font-size: 10px;
}


/* Menu */

#menu {
    width: 950px;
    height: 30px;
    background-color: #1c1c1c;
}

.button {
    width: 150px;
    height: 30px;
    background-color: #262626;
    float: left;
    border-left: 3px solid #000;
    border-right: 1px solid #767676;
}

.button h3 {
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 8px;
}

/* Slider */

.slider {
    width: 950px;
    height: 280px;
    background-color: darkgray;
    margin-bottom: 50px;
}

/* Notices */
.notices {
    float: left;
    padding: 0 20px;
    display: grid;
    width: 75%;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    border-right: 1px dotted grey;
}

.individual-notice {
    background-color: #F7F7F7;
    border-bottom: 2px solid grey;
}

.individual-notice img {
    width: 100%;
}

.notice-text {
    padding: 0px 10px;
}

.notice-text p {
    color: #404040;
    font-size: 11px;
}

.notice-text h5 {
    margin: 0px;
}

/* Banners */
.banners {
    float: left;
    margin-left: 20px;
    display: grid;
    grid-gap: 40px;
}

.individual-banner {
    position: relative;
    color: white;
}

.individual-banner h5 {
    margin: 0px;
    position: absolute;
    top: 5px;
    left: 5px;
}
