/* cmd + e para abrir la paleta de color */

body {
    background-color: lightgray;
}

#container {
    width: 950px;
    height: 1500px;
    background-color: white;
    margin: auto;
}

.header {
    width: 950px;
    height: 105px;
}

.colores {
    width: 950px;
    height: 10px;
}

.colores > div {
    height: 100%;
    float: left;
}

.negro1 {
    width: 320px;
}

.rojo1 {
    width: 430px;
}

.negro2 {
    width: 170px;
}

.rojo2 {
    width: 30px;
}

.negro1, .negro2 {
    background-color: black;
}

.logo {
    width: 229px;
    height: 65px;
    margin: 20px;
    background-color: aqua;
}
.rojo1, .rojo2 {
    background-color: #d00808;
}