/* cmd + e para abrir la paleta de color */

body {
    background-color: lightgray;
}

#container {
    width: 950px;
    height: 1500px;
    background-color: white;
    margin: auto;
}

.header {
    width: 950px;
    height: 105px;
}

/* Colores */
.colors {
    width: 950px;
    height: 10px;
}

.colors > div {
    height: 100%;
    float: left;
}

.black1 {
    width: 320px;
}

.red1 {
    width: 430px;
}

.black2 {
    width: 170px;
}

.red2 {
    width: 30px;
}

.black1,
.black2 {
    background-color: black;
}

.red1,
.red2 {
    background-color: #d00808;
}


/* White-stripe and Logo */
.white-stripe {
    width: 950px;
    height: 98px;
    background-color: #fff;
}

.logo {
    margin: 20px;
}

.logo img {
    width: 229px;
    height: 65px;
}

/* Menu */

#menu {
    width: 950px;
    height: 30px;
    background-color: #1c1c1c;
}

.button {
    width: 150px;
    height: 30px;
    background-color: #262626;
    float: left;
    border-left: 3px solid #000;
    border-right: 1px solid #767676;
}

.button h3 {
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 8px;
}

.slider {
    width: 950px;
    height: 280px;
    background-color: white;
}
