html {
    scroll-behavior: smooth;
}

/* Body */
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #F3F5F7;
    background-color: #B5B1E3;
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
}

/* Headers */
.stacked-title {
    font-family: 'Germania One', sans-serif;
    margin-top: 3em;
    position: relative;
}

.stacked-title img {
    width: 360px;
}

.stacked-title h2 {
    font-size: 60px;
    position: absolute;
    width: 500px;
    font-weight: 100;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
}


/* Nav */

.navbar {
    padding: 1.5em;
    height: 3em;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #B5B1E3;
}

.navbar button {
    border: none;
    cursor: pointer;
}

.navbar .open {
    width: 50px;
    height: 50px;
    float: left;
    background-image: url(../img/icons/nav_open.svg);
    background-color: #B5B1E3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar .switch {
    width: 80px;
    height: 50px;
    float: right;
    background-image: url(../img/icons/mode_switch.svg);
    background-color: #B5B1E3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: none;
}


/* Page content */
.content {
    text-align: center;
    padding-bottom: 5em;
}


/* Home */

.home-text {
    text-align: left;
    margin: 5em auto;
    width: 60%;
}


/* About */

#about img {
    width: 250px;
}

/* Portfolio */

/* Contact */


/* Desktop version */
@media only screen and (min-width: 768px) {

    /* Nav */
    .navbar {
        display: none;
    }

    nav {
        display: block;
        margin-right: 5em;
        font-size: 1em;
        text-align: right;
        float: right;
    }

    nav ul {
        list-style: none;
        padding-left: 2em;
    }

    nav ul li {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    nav ul li a {
        opacity: 0.5;
        color: #F3F5F7;
    }

    nav ul li a:hover {
        opacity: 1;
        margin: 1em;
        transition: all 1s ease;
        transition-property: margin;
    }
}
