html {
    scroll-behavior: smooth;
}

/* Body */
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #F3F5F7;
    background-color: #B5B1E3;
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
}

/* Logo */
.logo {
    display: none;
    background-image: url(../img/icons/logo-02.svg);
    width: 70px;
    height: 70px;
    margin: 2em;
    float: left;
    border: none;
    background-color: #B5B1E3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Headers */
.stacked-title {
    font-family: 'Germania One', sans-serif;
    margin-top: 3em;
    position: relative;
}

.stacked-title img {
    width: 360px;
}

.stacked-title h2 {
    font-size: 60px;
    position: absolute;
    font-weight: 100;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
}


/* Nav */

.navbar {
    padding: 1.5em;
    height: 3em;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #B5B1E3;
}


.navbar .open {
    width: 50px;
    height: 50px;
    float: left;
    background-image: url(../img/icons/nav_open.svg);
    background-color: #B5B1E3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    border: none;
    cursor: pointer;
}

.switch {
    width: 80px;
    height: 50px;
    float: right;
    background-image: url(../img/icons/mode_switch.svg);
    background-color: #B5B1E3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: none;
}


/* Page content */
.content {
    text-align: center;
    padding-bottom: 5em;
}

.switch-button {
    display: none;
    position: absolute;
    padding: 2em;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 50px;
}

.switch-button .switch {
    width: 100%;
    height: 100%;
}


/* Home */

.home-text {
    text-align: left;
    margin: 5em auto;
    width: 60%;
}


/* About */

#about img {
    width: 250px;
}

/* Portfolio */

#portfolio img {
    width: 420px;
}

#portfolio h2 {
    font-size: 80px;
    top: 100px;
}

/* Contact */

#contact img {
    width: 420px;
}

#contact h2 {
    font-size: 80px;
    top: 100px;
}


/* Tablet version */
@media only screen and (min-width: 600px) {}


/* Desktop version */
@media only screen and (min-width: 768px) {

    /* Logo */
    .logo {
        display: block;
        cursor: pointer;
    }

    /* Nav */
    .navbar {
        display: none;
    }

    /* Page content */

    .content {
        width: 100%;
    }

    .stacked-title {
        width: 720px;
        margin: auto;
    }

    .stacked-title img {
        width: 470px;
    }

    .stacked-title h2 {
        font-size: 120px;
        white-space: nowrap;
    }

    .switch-button {
        display: block;
    }


    /* Home */
    .home-text {
        display: none;
    }

    #home .stacked-title {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
    }


    nav {
        display: block;
        margin-right: 5em;
        font-size: 1em;
        text-align: right;
        float: right;
        padding: 1em 0;
    }

    nav ul {
        list-style: none;
        padding-left: 2em;
    }

    nav ul li {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    nav ul li a {
        opacity: 0.5;
        color: #F3F5F7;
        position: relative;
    }

    nav ul li a:hover {
        opacity: 1;
        transition: all 1s ease;
        margin-right: 1.5em;
        transition-property: margin;
    }
}
