* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    width: 100%;
    height: 60px;
    background-color: deeppink;
    position: fixed;
}

footer h6 {
    color: white;
    font-size: 8px;
    font-weight: 400;
    text-align: center;
}
