* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    width: 100%;
    height: 60px;
    background-color: deeppink;
    position: fixed;
    bottom: 0;
}

footer h6 {
    color: white;
    font-size: 8px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

footer aside {
    width: 40px;
    margin: auto;
    height: 10px;
    background-color: deepink;
    margin: auto;
}

footer aside a {
    color: white;
}

footer aside a:hover {
    color: hotpink;
}
