/* cmd + e para abrir la paleta de color */

body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 950px;
    height: 1500px;
    background-color: #ffffff;
    margin: auto;
}

.header {
    width: 950px;
    height: 130px;
}

/* Colores */
.colors {
    width: 950px;
    height: 10px;
}

.colors > div {
    height: 100%;
    float: left;
}

.black1 {
    width: 320px;
}

.red1 {
    width: 430px;
}

.black2 {
    width: 170px;
}

.red2 {
    width: 30px;
}

.black1,
.black2 {
    background-color: black;
}

.red1,
.red2 {
    background-color: #d00808;
}


/* White-stripe and Logo */
.white-stripe {
    padding: 5px;
    background-color: #fff;
}

.logo {
    width: 229px;
    height: 65px;
    margin-left: 20px;
}

/* Tiny-menu */
.tiny-menu {
    text-align: center;
}

.tiny-menu p {
    margin: 0px;
    color: gray;
    display: inline-block;
    font-size: 10px;
}

.tiny-menu .hover:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}


/* Menu */

#menu {
    width: 950px;
    height: 30px;
    background-color: #1c1c1c;
}

.button {
    color: white;
    width: 150px;
    height: 30px;
    background-color: #262626;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    color: #cecebb;
}

.button h3 {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 8px;
}

/* Slider */

.slider {
    width: 950px;
    height: 280px;
    background-color: darkgray;
    margin-bottom: 50px;
}

/* Notices y banner */
.notices-banners {
    height: 500px;
}

/* Notices */
.notices {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    float: left;
    padding: 0 20px;
    width: 75%;
    height: 400px;
    border-right: 1px dotted grey;
}

.individual-notice {
    background-color: #F7F7F7;
    border-bottom: 2px solid grey;
}

.individual-notice img {
    width: 100%;
}

.notice-text {
    padding: 0px 10px;
}

.notice-text p {
    color: #404040;
    font-size: 11px;
}

.notice-text h5 {
    margin: 0px;
}

/* Banners */
.banners {
    float: left;
    margin-left: 20px;
    display: grid;
    grid-gap: 40px;
}

.individual-banner {
    position: relative;
    color: white;
}

.individual-banner h5 {
    margin: 0px;
    position: absolute;
    top: 5px;
    left: 5px;
}


/* Videos y agenda */
.videos-agenda {
    height: auto;
}

.videos-agenda * {
    height: 100%;
    float: left;
}

/* Videos */
.videos {
    width: 74%;
    background-color: #F7F7F7;
    border-right: 1px solid grey;
}

.videos h5,
.videos-grid {
    margin-left: 20px;
    margin: right: 20px;
}

.videos-grid {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.individual-video img {
    width: 100%;
}

.video-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2px;
    color: white;
    font-size: 11px;
    height: 20px;
}

/* Agenda */
.agenda {
    width: 25%;
    height: 500px;
    background-color: pink;
}
